language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: true
node_js:
  - '10'
script:
  - npm test
  - npm run demo
  - npm run demo2
  - npm run demo3
  - npm run demo4
  - npm run demo5
  - npm run demo6
  - npm run demo7
  - START_SERVER_AND_TEST_INSECURE=1 npm run demo9
  - npm run demo-cross-env
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
